<html>
<head>
  <title>coaches</title>
</head>
  <body>

    <h1>Match details</h1>
    <form>
      Match ID:
      <input type="text" name="match_id">
    </form>

    <form>
      Time:
      <input type="text" name="time">
    </form>

    <form>
      Month:
      <input type="text" name="month">
    </form>

    <form>
      Day:
      <input type="text" name="day">
    </form>

    <form>
      Year:
      <input type="text" name="year">
    </form>

    <form>
      Home Score:
      <input type="text" name="home_score">
    </form>

    <form>
      Visiting Score:
      <input type="text" name="visiting_score">
    </form>

    <form>
      Venue ID:
      <input type="text" name="venue_id">
    </form>

  </body>
</html>
