<html>
<head>
  <title>Teams</title>
</head>
  <body>
    <form>
      Team ID:
      <input type="text" name="team_id">
    </form>
    <form>
      Team name:
      <input type="text" name="team_name">
    </form>
    <form>
      Team Color:
      <input type="text" name="jersey_color">
    </form>

  </body>
</html>
