<html>
<head>
  <title>venues</title>
</head>
  <body>

    <h1>Venues</h1>
    <form>
      Venue ID:
      <input type="text" name="venues_id">
    </form>

    <form>
      City:
      <input type="text" name="city">
    </form>

  </body>
</html>
