<!doctype html>
<html>
<head>
	<title>CS340 Project - Corvallis Soccer Club</title>
	<!-- <link rel="stylesheet" href="/css/style.css"> -->
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	{{{body}}}
</body>
</html>
