<html>
<head>
  <title>coaches</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <div>
    <h1><div id="dropdown" class="dropdown">
    <button class="dropbtn">Navigation</button>
    <div class="dropdown-content">
      <a href="http://flip3.engr.oregonstate.edu:8282/">Home</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/matches_teams">Matches&Teams</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/matches">Matches</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/players">Players</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/teams">Teams</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/venues">Venues</a>
    </div>
  </div><i class="fa fa-soccer-ball-o" style="font-size:36px"></i>Coaches<i class="fa fa-soccer-ball-o" style="font-size:36px"></i></h1>

    <form>
      First Name:
      <input type="text" name="cf_name">
    </form>

    <form>
      Last Name:
      <input type="text" name="cl_name">
    </form>

    <form>
      Phone Number:
      <input type="text" name="phone_num">
    </form>

    <form>
      Email:
      <input type="text" name="email">
    </form>

    <form>
      Team ID:
      <input type="text" name="team_id">
    </form>
    <div class="text-center">
    <input class="button" type="submit" value="Submit" />
    </div>
  </div>
    <br>
    <br>
    <div>
      <table class="chart">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Team</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tb">
          <td>Bob</td>
          <td>Bradley</td>
          <td>(123) 456-7890</td>
          <td>Bob@hello.com</td>
          <td>LA FC</td>
          <td>
          <div class="btngroup">
            <button class="button" type="button" >Update</button>
            <button class="button" type="button" >Delete</button>
            </div>
          </td>
        </tr>
        <tr class="tb">
          <td>Dominic</td>
          <td>Kinnear</td>
          <td>(123) 456-7890</td>
          <td>Dom@hello.com</td>
          <td>Houston Dynamo</td>
          <td>
          <div class="btngroup">
            <button class="button" type="button" >Update</button>
            <button class="button" type="button" >Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
