<html>
<head>
  <title>coaches</title>
</head>
  <body>

    <h1>Coaches</h1>
    <form>
      Coach ID:
      <input type="text" name="coach_id">
    </form>

    <form>
      First name:
      <input type="text" name="cf_name">
    </form>

    <form>
      Last Name:
      <input type="text" name="cl_name">
    </form>

    <form>
      Phone Number:
      <input type="text" name="phone_num">
    </form>

    <form>
      email:
      <input type="text" name="email">
    </form>

    <form>
      Team ID:
      <input type="text" name="team_id">
    </form>
    <input type="submit" value="Submit" />
  </body>
</html>
