<div class="banner">
  <div class="header">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h2><i class="fa fa-soccer-ball-o" style="font-size:36px"></i> Corvallis Soccer Club <i class="fa fa-soccer-ball-o" style="font-size:36px"></i></h2>
  </div>
</div>

  <table class="table-center">
  <tr>
    <td>
      <div class="text-center">
        <h2>Coaches</h2>
        <p>Add or Modify a Coach</p>
        <a href="http://flip3.engr.oregonstate.edu:8282/coaches">
          <button class="button" type="button">Edit Coaches Table</button>
        </a>
      </div>

      <div class="text-center">
      <h2>Players</h2>
      <p>Add or Modify a Player</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/players">
        <button class="button" type="button">Edit Players Table</button>
      </a>
      </div>

      <div class="text-center">
      <h2>Teams</h2>
      <p>Add or Modify a Team</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/teams">
        <button class="button" type="button">Edit Teams Table</button>
      </a>
      </div>
    </td>
    <td>
      <div class="text-center">
      <h2>Venues</h2>
      <p>Add or Modify a Venue</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/venues">
        <button class="button" type="button">Edit Venues Table</button>
      </a>
      </div>

      <div class="text-center">
      <h2>Matches</h2>
      <p>Add or Modify a Match</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/matches">
        <button class="button" type="button">Edit Matches Table</button>
      </a>
      </div>

      <div class="text-center">
      <h2>Matches_Teams (Schedule)</h2>
      <p>Modify the Schedule</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/matches_teams">
        <button class="button" type="button">Edit Matches_Teams Table</button>
      </a>
    </td>
  </tr>
  </table>
