<div class="banner">
  <div class="header">
    <h1>Corvallis Soccer Club</h1>
  </div>
</div>

<div class="container">
  <div class="col">
    <div class="row">
      <h2>Coaches</h2>
      <p>Add or Modify a Coach</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/coaches">
      <button type="button">Edit Coaches Table</button>
      </a>
    </div>

    <div class="row">
      <h2>Players</h2>
      <p>Add or Modify a Player</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/players">
      <button type="button">Edit Players Table</button>
      </a>
    </div>

    <div class="row">
      <h2>Venues</h2>
      <p>Add or Modify a Venue</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/venues">
      <button type="button">Edit Venues Table</button>
      </a>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <h2>Matches</h2>
      <p>Add or Modify a Match</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/matches">
      <button type="button">Edit Matches Table</button>
      </a>
    </div>

    <div class="row">
      <h2>Matches_Teams (Schedule)</h2>
      <p>Modify the Schedule</p>
      <a href="http://flip3.engr.oregonstate.edu:8282/matches_teams">
      <button type="button">Edit Matches_Teams Table</button>
      </a>
    </div>
  </div>
</div>