<div class="banner">
  <div class="header">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h1><i class="fa fa-soccer-ball-o" style="font-size:36px"></i>Corvallis Soccer Club<i class="fa fa-soccer-ball-o" style="font-size:36px"></i></h1>
  </div>
</div>

<div class="container">
  <div class="col">
    <div class="row">
      <div class="text-center">
      <h2>Coaches</h2>
      <p>Add or Modify a Coach</p>
    </div>
      <a href="http://flip3.engr.oregonstate.edu:8282/coaches">
        <div class="text-center">
      <button class="button" type="button">Edit Coaches Table</button>
      </div>
      </a>
    </div>

    <div class="row">
      <div class="text-center">
      <h2>Players</h2>
      <p>Add or Modify a Player</p>
      </div>
      <a href="http://flip3.engr.oregonstate.edu:8282/players">
        <div class="text-center">
      <button class="button" type="button">Edit Players Table</button>
      </div>
      </a>
    </div>

    <div class="row">
      <div class="text-center">
      <h2>Teams</h2>
      <p>Add or Modify a Team</p>
      </div>
      <a href="http://flip3.engr.oregonstate.edu:8282/teams">
        <div class="text-center">
      <button class="button" type="button">Edit Teams Table</button>
      </div>
      </a>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="text-center">
      <h2>Venues</h2>
      <p>Add or Modify a Venue</p>
      </div>
      <a href="http://flip3.engr.oregonstate.edu:8282/venues">
        <div class="text-center">
      <button class="button" type="button">Edit Venues Table</button>
      </div>
      </a>
    </div>

    <div class="row">
      <div class="text-center">
      <h2>Matches</h2>
      <p>Add or Modify a Match</p>
      </div>
      <a href="http://flip3.engr.oregonstate.edu:8282/matches">
        <div class="text-center">
      <button class="button" type="button">Edit Matches Table</button>
      </div>
      </a>
    </div>

    <div class="row">
      <div class="text-center">
      <h2>Matches_Teams (Schedule)</h2>
      <p>Modify the Schedule</p>
    </div>
      <a href="http://flip3.engr.oregonstate.edu:8282/matches_teams">
        <div class="text-center">
      <button class="button" type="button">Edit Matches_Teams Table</button>
      </div>
      </a>
    </div>
  </div>
</div>
