<html>
<head>
  <title>coaches</title>
</head>
  <body>

    <h1>Match details</h1>
    <form>
      Match ID:
      <input type="text" name="match_id">
    </form>

    <form>
      Time:
      <input type="text" name="time">
    </form>

    <form>
      Month:
      <input type="text" name="month">
    </form>

    <form>
      Day:
      <input type="text" name="day">
    </form>

    <form>
      Year:
      <input type="text" name="year">
    </form>

    <form>
      Home Score:
      <input type="text" name="home_score">
    </form>

    <form>
      Visiting Score:
      <input type="text" name="visiting_score">
    </form>

    <form>
      Venue ID:
      <input type="text" name="venue_id">
    </form>
    <input type="submit" value="Submit" />
    <br>
    <br>
    <div>
      <table>
      <thead>
        <tr>
          <th>Match ID</th>
          <th>Time</th>
          <th>Month</th>
          <th>Day</th>
          <th>Year</th>
          <th>Home Score</th>
          <th>Visiting Score</th>
          <th>Venue ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>7:00pm</td>
          <td>04</td>
          <td>10</td>
          <td>2021</td>
          <td>1</td>
          <td>2</td>
          <td>Corvallis</td>
        </tr>
        <tr>
          <td>2</td>
          <td>6:00pm</td>
          <td>05</td>
          <td>11</td>
          <td>2021</td>
          <td>TBD</td>
          <td>TBD</td>
          <td>Bend</td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
