<html>
<head>
  <title>matches_teams</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>

    <h1><i class="fa fa-soccer-ball-o" style="font-size:36px"></i>Schedule<i class="fa fa-soccer-ball-o" style="font-size:36px"></i></h1>
    <form>
      Home Team:
      <input type="text" name="team_id">
    </form>

    <form>
      Visiting Team:
      <input type="text" name="team_id">
    </form>

    <form>
      Match ID:
      <input type="text" name="match_id">
    </form>
    <div class="text-center">
    <input type="submit" value="Submit" />
  </div>
    <br>
    <br>
    <div>
      <table class="chart">
      <thead>
        <tr>
          <th>Schedule ID</th>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Match ID</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tb">
          <td>1</td>
          <td>Corvallis FC</td>
          <td>Bend FC</td>
          <td>3</td>
          <div class="btngroup">
            <button type="button" >Update</button>
            <button type="button" >Delete</button>
            </div>
        </tr>
        <tr class="tb">
          <td>2</td>
          <td>Bend FC</td>
          <td>Corvallis FC</td>
          <td>5</td>
          <div class="btngroup">
            <button type="button" >Update</button>
            <button type="button" >Delete</button>
            </div>
        </tr>
      </tbody>
    </table>
    </div>
    <br>
    <div class="text-center">
      <form>
        Team:
        <input type="text" name="team_id"><input type="submit" value="Search" />
      </form>

  </body>
</html>
