<html>
<head>
  <title>matches_teams</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>

    <h1><div id="dropdown" class="dropdown">
    <button class="dropbtn">Navigation</button>
    <div class="dropdown-content">
      <a href="http://flip3.engr.oregonstate.edu:8282/">Home</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/matches">Matches</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/players">Players</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/teams">Teams</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/venues">Venues</a>
      <a href="http://flip3.engr.oregonstate.edu:8282/coaches">Coaches</a>
    </div>
  </div><i class="fa fa-soccer-ball-o" style="font-size:36px"></i>Schedule<i class="fa fa-soccer-ball-o" style="font-size:36px"></i></h1>
    <form>
      Home Team:
      <input type="text" name="team_id">
    </form>

    <form>
      Visiting Team:
      <input type="text" name="team_id">
    </form>

    <form>
      Match ID:
      <input type="text" name="match_id">
    </form>
    <div class="text-center">
    <input class="button" type="submit" value="Submit" />
  </div>
    <br>
    <br>
    <div>
      <table class="chart">
      <thead>
        <tr>
          <th>Schedule ID</th>
          <th>Home Team ID</th>
          <th>Away Team ID</th>
          <th>Match ID</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tb">
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>3</td>
          <td>
          <div class="btngroup">
            <button class="button" type="button" >Update</button>
            <button class="button" type="button" >Delete</button>
            </div>
          </td>
        </tr>
        <tr class="tb">
          <td>2</td>
          <td>1</td>
          <td>4</td>
          <td>5</td>
          <td>
          <div class="btngroup">
            <button class="button" type="button" >Update</button>
            <button class="button" type="button" >Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <br>
    <div class="text-center">
      <form>
        Team:
        <input type="text" name="team_id"><input class="button" type="submit" value="Search" />
      </form>

  </body>
</html>
