<html>
<head>
  <title>matches_teams</title>
</head>
  <body>

    <h1>Schedule</h1>
    <form>
      Schedule ID:
      <input type="text" name="matches_teams_id">
    </form>

    <form>
      Home Team:
      <input type="text" name="team_id">
    </form>

    <form>
      Visiting Team:
      <input type="text" name="team_id">
    </form>

    <form>
      Match ID:
      <input type="text" name="match_id">
    </form>
    <input type="submit" value="Submit" />
    <br>
    <br>
    <div>
      <table>
      <thead>
        <tr>
          <th>Schedule ID</th>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Match ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Corvallis FC</td>
          <td>Bend FC</td>
          <td>3</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Bend FC</td>
          <td>Corvallis FC</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
    </div>

  </body>
</html>
