<html>
<head>
  <title>players</title>
</head>
  <body>

    <h1>Players</h1>
    <form>
      Player ID:
      <input type="text" name="player_id">
    </form>

    <form>
      First name:
      <input type="text" name="pf_name">
    </form>

    <form>
      Last Name:
      <input type="text" name="pl_name">
    </form>

    <form>
      Phone Number:
      <input type="text" name="phone_num">
    </form>

    <form>
      email:
      <input type="text" name="email">
    </form>

    <form>
      Team ID:
      <input type="text" name="team_id">
    </form>

  </body>
</html>
