<html>
<head>
  <title>Teams</title>
</head>
  <body>
    <form>
      Team ID:
      <input type="text" name="team_id">
    </form>
    <form>
      Team name:
      <input type="text" name="team_name">
    </form>
    <form>
      Team Color:
      <input type="text" name="jersey_color">
    </form>
    <input type="submit" value="Submit" />
    <br>
    <br>
    <div>
      <table>
      <thead>
        <tr>
          <th>Team ID</th>
          <th>Team Name</th>
          <th>Team Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Bend FC</td>
          <td>Orange</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Corvallis FC</td>
          <td>green</td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
