<html>
<head>
  <title>Teams</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <h1><i class="fa fa-soccer-ball-o" style="font-size:36px"></i>Teams<i class="fa fa-soccer-ball-o" style="font-size:36px"></i></h1>
    <form>
      Team ID:
      <input type="text" name="team_id">
    </form>
    <form>
      Team name:
      <input type="text" name="team_name">
    </form>
    <form>
      Team Color:
      <input type="text" name="jersey_color">
    </form>
    <div class="text-center">
    <input type="submit" value="Submit" />
  </div>
    <br>
    <br>
    <div>
      <table class="chart">
      <thead>
        <tr>
          <th>Team ID</th>
          <th>Team Name</th>
          <th>Team Color</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tb">
          <td>1</td>
          <td>Bend FC</td>
          <td>Orange</td>
        </tr>
        <tr class="tb">
          <td>2</td>
          <td>Corvallis FC</td>
          <td>green</td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
