<html>
<head>
  <title>Venues</title>
</head>
  <body>

    <h1>Venues</h1>
    <form>
      Venue ID:
      <input type="text" name="venues_id">
    </form>

    <form>
      City:
      <input type="text" name="city">
    </form>
    <input type="submit" value="Submit" />
    <br>
    <br>
    <div>
      <table>
      <thead>
        <tr>
          <th>Venue ID</th>
          <th>Venue City</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>123</td>
          <td>Corvallis</td>
        </tr>
        <tr>
          <td>456</td>
          <td>Bend</td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
